* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* desktop-header */
.mobile-nav {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.header-logo {
    display: flex;
    padding-right: 10px;
}
header h1 {
    height: 32px;
    padding-top: 5px;
}

header img {
    height: 48px;
}

header h1 #colmar {
    color: #4D4D4D;
}

header h1 #academy {
    color: #9B9B9B;
    font-weight: lighter;
}

header .desk-nav {
    padding-top: 15px;
}

.desk-nav span {
    padding-left: 16px;
}

.desk-nav span a {
    text-decoration: none;
    color: #4D4D4D;
}

/* Mobile Nav */
@media screen and (max-width: 601px) {
    .header-logo {
        display: none;
    }

    .desk-nav {
        display: none;
    }

    .mobile-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-nav span {
        padding-top: 10px;
    }
}

/* Info Banner */
.main-banner {
    display: flex;
    background-color: #d8d8d8;
}

.main-banner img {
    width: 60%;
    padding: 32px 24px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.banner-text h1 {
    font-size: 2.25em;
    padding-bottom: 32px;
    color: #4d4d4d;
    line-height: 1.50em;
}

.banner-text h4 {
    font-size: 1.25em;
    padding-bottom: 32px;
    color: #4D4D4D;
    line-height: 1.50em;
}

.banner-text p {
    text-align: center;
    padding: 8px 0px 8px 0;
    background: #4d4d4d;
}

.banner-text p a {
    color: white;
    text-decoration: none;
}

/* Mobile banner */
@media screen and (max-width: 601px) {
    .main-banner {
        display: flex;
        flex-direction: column;
    }

    .main-banner img {
        width: 100%;
    }

    .banner-text h1 {
        text-align: center;
    }

    .banner-text h4 {
        text-align: center;
    }

    .banner-text p {
        background-color: #9b9b9b;
        font-weight: bold;
        padding: 12px 0 12px 0;
        font-size: 1.25em;
    }
}

/* Desktop Info Banner */
.mobile-info {
    display: none;
}

.info-banner {
    display: flex;
}

.main-info {
    width: 60%;
    padding: 32px 24px;
    border-right: 2px solid #d8d8d8;
}

.main-info img {
    width: 100%
}

.main-info h1 {
    padding-top: 32px;
    padding-bottom: 24px;
    color: #4D4D4D;
}

.main-info p, .main-info h5 {
    color: #4d4d4d;
}

.main-info h5 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.other-info {
    width: 40%;
    padding-top: 32px;
}

#desk-orien, #desk-campus, #desk-lecture {
    display: flex;
    align-items: center;
}

#desk-orien h2, #desk-campus h2, #desk-lecture h2 {
    padding-bottom: 10px;
    color:  #4d4d4d;
}

#desk-orien p, #desk-campus p, #desk-lecture p {
    padding-bottom: 10px;
    color: #4d4d4d;
}

#desk-orien span a, #desk-campus span a, #desk-lecture span a {
    color: #3986E0;
    text-decoration: none;
}

#desk-orien {
    border-bottom: 2px dotted #d8d8d8;
}

#desk-lecture {
    background-color: #d8d8d8;
}

#desk-orien img {
    width: 35%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

#desk-campus img, #desk-lecture img {
    width: 35%;
    padding: 16px;
}

#one {
    padding-bottom: 16px;
}

#two, #three {
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Mobile Info Banner */
@media screen and (max-width: 601px) {
    .main-info, .other-info {
        display: none;
    }

    .mobile-info {
        display: flex;
        flex-direction: column;
    }

    #mobile-orien, #mobile-campus {
        padding: 16px;
    }

    #mobile-lecture {
        padding: 16px 16px 32px 16px;
    }

    #mobile-orien img, #mobile-campus img, #mobile-lecture img {
        width: 100%;
        padding-bottom: 16px;
    }

    #mobile-orien h2, #mobile-campus h2, #mobile-lecture h2 {
        padding-bottom: 10px;
        padding-left: 16px;
        color: #4D4D4D;
    }

    #mobile-orien p, #mobile-campus p, #mobile-lecture p {
        padding-bottom: 16px;
        padding-left: 16px;
        color: #4D4D4D;
    }

    #mobile-orien span a, #mobile-campus span a, #mobile-lecture span a {
        color: #3986E0;
        text-decoration: none;
        padding-left: 16px;
        padding-bottom: 16px;
    }
}

/* Desktop Course Banner */
.course-banner {
    background-color: #d8d8d8;
}

.course-banner h1 {
    text-align: center;
    padding-top: 32px;
    font-size: 2em;
    color: #4D4D4D;
}

.courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 32px 72px;
    gap: 32px 32px;
}

.courses .courses-info {
    width: 30%;
    background-color: white;
}

.courses-info img, .text {
    width: 100%;
}

.text {
    padding: 16px 16px 24px 16px;
}

.text h2, .text h3 {
    padding-bottom: 8px;
}

.text h2, .text h3, .text p {
    color: #4d4d4d;
}

.text h3 {
    font-weight: 500;
}

