* {
    margin: 0;
    font-family: Verdana;
}

/* header desktop*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
}

header #company-name {
    display: flex;
    height: 32px;
    margin-left: 32px;
    align-items: center;
}

header img {
    height: 48px;
}

header #desktop-nav ul {
    display: flex;
}

#company-name h1{
    text-transform: uppercase;
}

#company-name h1 #colmar {
    color: #4A4A4A;
}

#company-name h1 #academy {
    color: #D8D8D8;
    font-weight: lighter;
}

header #desktop-nav {
    margin-right: 24px;
}
header #desktop-nav li {
    margin-left: 16px;
    list-style: none;
}

header #desktop-nav li a {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}

header #logo-nav {
    display: none;
}

/* header mobile */
@media screen and (max-width: 730px) {
    header #company-name, #desktop-nav {
        display: none;
    }

    header #logo-nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }
}

/* Banner desktop*/
.banner-cont {
    display: flex;
    background-color: #D8D8D8;
}

.banner-cont #banner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    margin-right: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-cont img {
    margin: 32px 24px;
    width: 60%;
}

.banner-cont #banner-div h1 {
    color: #4A4A4A;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.banner-cont #banner-div p {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-cont #banner-div button {
    color: white;
    font-size: 18px;
    height: 50px;
    background-color: #4A4A4A;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 40px;
    border: none;
    outline: 0;
}

/* banner mobile */
@media screen and  (max-width: 730px) {
    .banner-cont {
        display: flex;
        flex-direction: column;
    }

    .banner-cont img {
        width: 100%;
        margin: 0;
    }

    .banner-cont #banner-div h1 {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 16px;
    }

    .banner-cont #banner-div p {
        margin-bottom: 24px;
        margin-left: 16px;
    }

    .banner-cont #banner-div button {
        margin-bottom: 32px;
        margin-left: 16px;
        background-color: #9B9B9B;
    }
}

/* Campus-Info desktop */
.campus-info #mobile-images {
    display: none;
}

.campus-info {
    display: flex;   
}

#main-img {
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#main-img h1 {
    margin-top: 32px;
    color: #4a4a4a;
}

#main-img p {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #4a4a4a;
}

#main-img h5 {
    margin-bottom: 32px;
    color: #4a4a4a;
}

#desktop-images {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #D8D8D8;
}

#img1, #img2, #img3 {
    display: flex;
    padding-left: 16px;
}

#img1 {
    margin-top: 32px;
    margin-bottom: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #d8d8d8;
}

#img2 {
    border-top: 2px solid #d8d8d8;
    padding-top: 16px;
    padding-bottom: 16px;
}

#img3 {
    background-color: #d8d8d8;
    padding-top: 16px;
    padding-bottom: 16px;
}

#img1 img, #img2 img, #img3 img {
    width: 35%;
    padding-right: 16px;
}

#cont1 h3, #cont2 h3, #cont3 h3 {
    padding-top: 40px;
    padding-bottom: 8px;
    color: #4a4a4a;
    font-size: 24px;
}

#cont1 p, #cont2 p, #cont3 p {
    padding-bottom: 8px;
    color: #4a4a4a;
}

#cont1 span a, #cont2 span a, #cont3 span a {
    color: #488FE2;
    text-decoration: none;
}

